<div class="columns">
    <div class="column is-full-mobile is-half-desktop">
        <strong>
            <p>
                Un collectif composé de consommateurs numériques et de développeurs Web qui s’organisent pour créer
                ensemble de petits outils Web gratuits, créer des alternatives aux logiciels propriétaires et ouvrir la
                voie à la création de nouvelles plates-formes coopératives.
            </p>
        </strong>
    </div>

    <div class="column is-one-quarter">
        {{> member image="https://res.cloudinary.com/misitioba/image/upload/w_96,e_art:daguerre/e_improve/r_0/v1568810848/montpedigital/ja-avatar2.jpg" linkedin="https://www.linkedin.com/in/arancibiajav" website="https://arancibiajav.misitioba.com" name="Javier Leandro Arancibia" nickname="javimosch"}}
    </div>

    <div class="column is-one-quarter">
        {{> member image="https://image.flaticon.com/icons/svg/1256/1256661.svg"  name="You" nickname="you" join="https://framateam.org/signup_user_complete/?id=bkqeeg1cajde7jqt4dc6bp56fy"}}
    </div>


</div>
<div class="columns">

    <div class="column is-full-desktop">
        <h3 class="is-size-4">Pourquoi cette initiative?</h3>
        <p>
            Les modèles commerciaux de grandes plates-formes telles que Google ou Amazon changent constamment afin de ne
            pas perdre de rentabilité et la conséquence directe est une tendance à la monopolisation (développer
            davantage de fonctions au sein de la même plate-forme pour que les utilisateurs ne soient pas obligés de la
            quitter) .


        </p>
        <p>
            Pour équilibrer ce problème, il est nécessaire que l’État intervienne en tant que régulateur des
            technologies existantes, mais aussi que le développement de plates-formes publiques garantissant aux
            utilisateurs, aux travailleurs et aux clients, une autonomie, des droits et des avantages. Plateformes
            Coopératives
        </p>
    </div>

</div>
<div class="columns">
    <div class="column is-full-desktop">
        <h3 class='is-size-4'>Notre vision</h3>

        <h5 class="is-size-5">Pour un internet gratuit</h5>

        <p>L'utilisation de logiciel gratuit devrait prédominer.</p>

        <h5 class="is-size-5">Pour un internet décentralisé</h5>

        <p>Les monopoles de bases de données doivent être remplacés par un écosystème d'acteurs collaborant et où
            l'égalité prévaut.</p>

        <h5 class="is-size-5">Pour un internet éthique</h5>

        <p>Un Internet où il n'y a pas de censure, de surveillance ou de discrimination et où les utilisateurs
            s'engagent à respecter les images de la loi.
            Un internet où les données collectées par les plates-formes ne sont pas utilisées à des fins commerciales
            sans la décision unanime de ses membres.</p>

        <h5 class="is-size-5">Pour un internet solidaire</h5>

        <p>Un internet où il est partagé et où les services sont accessibles à tous, subventionné par les gouvernements
            et les communautés locales.</p>

        <h5 class="is-size-5">Pour un Internet avec moins d'intermédiaires avec moins de précarité des travailleurs du
            numérique</h5>

        <p>Les plates-formes, contrôlées par des investisseurs dont l'objectif est uniquement de générer de l'argent et
            de réduire les coûts, doivent être remplacées et contrôlées par les utilisateurs eux-mêmes.</p>
    </div>
</div>