<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="column">

            <article>
                <h3 class="is-size-5">Phone/Whatsapp</h3>
                <a href="https://wa.me/33782809054">
        +33 7 82 80 90 54
    </a>
                <h3 class="is-size-5">Email</h3>
                <a href="mailto:montpedigital@misitoba.com">
                    montpedigital@misitoba.com
    </a>
                <h3 class="is-size-5">{{ i18n.HQ_ADDRESS }}</h3>
                <p>129 Andy Warhol (Etage 2, N9), 3400, Montpellier</p>
            </article>
        </div>
    </div>

</div>



<div class="container is-fullhd contactMapWrapper">
    <div class="columns is-mobile is-centered">
        <div class="column">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=3.894138336181641%2C43.598326081584545%2C3.918085098266602%2C43.60740045042406&amp;layer=mapnik&amp;marker=43.60286343709705%2C3.906111717224121">
            </iframe>
        </div>
    </div>
</div>