<!-- USE_HANDLEBARS -->
<!DOCTYPE html>
<html>

%_head%

<body>
    %_header% {{#if headline}}
    <div class="headline_wrapper">
        <h2 class="is-size-3">Développement web professionnel à Montpellier</h2>
    </div>
    {{/if}}

    <div class="container">

        {{#if hero}}
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <p class="title ">
                        {{hero.title}}
                    </p>
                    <p class="subtitle">
                        {{hero.subtitle}}
                    </p>
                </div>
            </div>
        </section>
        {{/if}}


        <div class="columns is-desktop is-multiline">
            <div class="column">
                <article>
                    <h1 class="is-size-3">{{title}}</h1>
                    <div class="article">
                        %page_content%
                    </div>
                </article>
            </div>
            <div class="column is-full">
                <article>
                    {{#if article.author}}
                    <h5>Author: {{article.author}}</h5>
                    {{/if}} {{#if article.created}}
                    <h5>Publication: {{#momentcalendar article.created}}{{/momentcalendar}}</h5>
                    {{/if}}
                </article>
            </div>
        </div>



        %_share_buttons%

        <script src="https://utteranc.es/client.js" repo="javimosch/montpedigital-utteranc-comments" issue-term="pathname" theme="github-light" crossorigin="anonymous" async>
        </script>

    </div>

    %_footer%
</body>

</html>